@charset "UTF-8";

/* 커서: 포인터 */
button {cursor: pointer;}
button label {cursor: pointer;}

/* 메인 구조 */
.main {display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center;
       width: 700px;}

/* 테이블 구조 */
.info {display: flex; flex-direction: column; align-items: center; border-spacing: 30px 10px; padding: 20px 0px;}

/* 테이블 구성 */
table td {height: 40px; vertical-align: middle;}

table td label {display: flex; justify-content: start;}

table td input:focus {outline: none;}
table td select:focus {outline: none;}

table td button {display: flex; justify-content: center; align-items: center;
                 width: 100px; height: 30px;}
table td button label {text-align: center;}

/* 전체 버튼 */
button {border: none; border-radius: 5px; background-color: var(--main-color-gre);}


/* 타이틀 */
h2 {letter-spacing: 3px; margin: 10px 0px; padding: 0px;}

/* 입력창 크기 */
.wrap-info input, .wrap-info select {width: 200px; height: 30px; border: none; border-bottom: 1px solid rgb(173, 173, 173);}

/* 메인 및 수정 버튼 */
.main-btn, .modify-btn {padding: 10px 70px; margin: 10px; background-color: var(--main-color-yel);}
.wrap-btn label {font-weight: bold; margin-left: 5px;}

/* 탈퇴 */
.withdraw {display: flex; justify-content: right; font-size: 0.9em;}
.withdraw i {margin-right: 5px;}


/* 모달 팝업 */
.background {position: fixed; top: 0; left: 0; width: 100%; height: 100vh; background: rgba(0, 0, 0, 0.2); z-index: -1; opacity: 0;}
.wrap-pop-up {position: relative; width: 100%; height: 100%;}
.pop-up {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
         width: 500px; height: 300px; text-align: center; background: #fff;}

/* 버튼 클릭 시 팝업 등장 */
.show {z-index: 1000; opacity: 1; transition: all 0.5s;}
.show .pop-up {transform: translate(-50%, -50%); transition: all 0.5s;}

/* 모달 팝업 레이아웃 */
.pop-up {display: flex; flex-direction: column; align-items: center;}
.close a {display: flex; position: absolute; top: 15px; right: 10px}
.alert {padding: 78px 0px;}
.location-choice {display: table; table-layout: fixed; width: 100%; height: 70px; color: white;}
.location-choice :nth-child(1) {background: #979797;}
.location-choice :nth-child(2) {background: var(--color-red);}
.location-choice a {display: table-cell; position: relative; vertical-align: middle; text-align: center;
                    border: none; letter-spacing: 3px;}